@media (max-width: 768px) {
  body {
    font-size: 13px;
  }

  .main__container {
    margin: 0;
  }

  .intro {
    margin-top: 3em;
    flex-direction: column;

    &__left {
      width: 85%;
      margin-bottom: 3em;

      &__text {
        h1 {
          font-size: 28px;
          text-align: center;
        }

        p {
          text-align: center;
        }
      }
    }

    &__right {
      width: 85%;

      &__form {
        padding: 20px;
        margin-bottom: 5em;
      }

      .btn--blue {
        font-size: 17px;
        line-height: 1.5;
      }

      .btn--green {
        font-size: 17px;
        font-weight: 600;
      }
    }
  }
} ;
